<% content_for :sub do %>
  <h5>...not just for the country of Spain</h5>
  <!-- bla hupsters -->
<% end %>
<% content_for :text do %>
Create!
<% end %>

<h1>New article</h1>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>
