/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#header {
	text-align: center;
	border-collapse: collapse;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
}

#header p h1{
	margin: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
}

#newlink{
	float: right;
}

#newlink a img{
	text-decoration: none;
}

#sameline{
	display: inline;
}

table{
	border-collapse:collapse;
	border-top:1px solid black;
	border-bottom:1px solid black;
	text-align: center;
}
table, td, th{
	border-right:1px solid black;
	border-left:1px solid black;
}

table tbody #odd{
	background-color: #fff;
}

table tbody #even{
	background-color: #fff;
}