#app{
	letter-spacing: .01em;
	font-family: Sans-serif;
	border-style: solid;
	border-width: 1px;
}

#titlebar{
	background-color: #888;
}

#subHeader{
	font-size: .9em;
	color: #444;
}
#links{
	background-color: black;
	color: white;
	font-weight: bold;
	word-spacing: 10px;
}
a:hover{
	color: green;
}
